.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--button-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-family: var(--font-body);
}

table {
  padding: 0 20px;
  width: 100%;
  border-spacing: 0 16px;
  font-size: var(--font-reg);
}

th {
  text-align: left;
  padding: 6px 16px 0 0;
  font-weight: bold;
  vertical-align: top;
  font-size: var(--font-reg);
  color: var(--accent);
  font-family: var(--font-title);
}

td {
  max-width: 60%;
  vertical-align: top;
}

td > * {
  width: 100%;
  padding: 6px 8px;
  font-size: var(--font-reg);
  border: 1px solid var(--accent);
  border-radius: var(--radius);
  background-color: #fff;
  font-family: var(--font-body);
}

td > textarea {
  height: calc(4 * var(--font-l) + 12px);
  font-family: inherit;
  resize: vertical;
}

.btn {
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 16px;
  font-size: var(--font-reg);
  background-color: var(--button-bg);
  border: 2px solid var(--accent);
  border-radius: var(--radius);
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--button-hover);
}
